body {
    color: #f7f7f7;
}

input {
    color: black !important;
}

::placeholder {
    color:lightgray !important;
}

.jumbotron  {        
    background-image: url("../images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
    }